.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
}

.header_top a {
  color: #58402C;
}

.header_top_container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
  margin: 0 2rem;
  border-bottom: 1px solid #BDB5AF;
}

.header_top_container .nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
}

.header_top_container .navbar-menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
}

.header_top_container .nav li,
.header_top_container .navbar-btn {
  margin-left: 2rem;
}

.g-container {
  max-width: 1150px;
  margin: auto;
  padding: 0 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.g-container .g-container-left {
  flex-basis: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.g-container .g-container-right {
  flex-basis: 50%;
}

.g-container .g-container-right img {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  display: inline-block;
  font-size: 1.2rem;
}

h4 {
  display: inline-block;
  font-size: 0.9rem;
}

li {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

