.header_top {
  @include fixed-top;
  background-color: $bg-secondary;
  a {
    color: $text-primary;
  }
  &__container {
    @include flex-between;
    border-bottom: 1px solid $border-primary;
    
  }
  &__nav {
      display: none;
      .nav {
        @include flex-between;
      }
      .navbar-menu {
        @include flex-between;
      }
      .nav li,
      .navbar-btn {
        margin-left: 2rem;
      }
    }
}
