@mixin fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin btn-primary {
  display: inline-block;
  padding: 5px 10px;
  background-color: $btn-primary;
  color: $text-primary;
  border-radius: 15px;
}
.clearfix::after {
    clear: both;
    display: block;
    content: "";
  }