@import 'variables';
@import 'common';
@import 'header';
@import 'main';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

