//backgrounds
$bg-primary : #FFE7D2;

//test styles
$text-primary: #58402C;

//button color
$btn-secondary: #fff;

//botton backgrounds

$btn-bg-primary: #30488f;
$btn-bg-hover: #233569;

//borders
$border-primary: #BDB5AF;

// $section-height: 

//section-padding:
$pd-base: 50px;
$pd-min: 10px;